<!-- SEARCH BAR -->

<div class="search-section"><a href="#" class="brand w-nav-brand"><img src="../../../images/UMSATS-banner.png" width="221" alt="" class="image-12"></a>
  <div class="container-5 w-container">
    <div class="form-block-3 w-form">


      <form id="email-form" method="post" action="/items/search" class="form">
        <select id="field" name="target" class="search-dropdown w-select">
          <option value="items">Items</option>
          <option value="users">Users</option>
        </select>
        <input type="text" class="text-field w-input" maxlength="256" name="searchKey" data-name="Search 2" placeholder="Search..." id="search-2">
        <button class="submit-button w-button">Search</button>
      </form>


      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>

<!-- END SERACH BAR -->